<table class="table table-sm small">
  <tbody>
    <tr>
      <th>minValidity</th>
      <td>{{this.keycloakSession.minValidity}}</td>
    </tr>
    <tr>
      <th>onLoad</th>
      <td>{{this.keycloakSession.onLoad}}</td>
    </tr>
    <tr>
      <th>responseMode</th>
      <td>{{this.keycloakSession.responseMode}}</td>
    </tr>
    <tr>
      <th>flow</th>
      <td>{{this.keycloakSession.flow}}</td>
    </tr>
    <tr>
      <th>checkLoginIframe</th>
      <td>{{this.keycloakSession.checkLoginIframe}}</td>
    </tr>
    <tr>
      <th>checkLoginIframeInterval</th>
      <td>{{this.keycloakSession.checkLoginIframeInterval}}</td>
    </tr>
    <tr>
      <th>idpHint</th>
      <td>{{this.keycloakSession.idpHint}}</td>
    </tr>
    <tr>
      <th>verbose</th>
      <td>{{this.keycloakSession.verbose}}</td>
    </tr>
  </tbody>
</table>
