{{#if this.keycloakSession.ready}}

  <div>
    <button
      {{on "click" (fn this.loadUserProfile)}}
            type="button"
            class="btn btn-info m-2"
    >
      Load user profile
    </button>
  </div>

  {{#with this.keycloakSession.profile as |profile|}}

    <table class="table">
      <tbody>
        <tr>
          <th>Id</th>
          <td class="text-nowrap">{{profile.id}}</td>
        </tr>
        <tr>
          <th>Username</th>
          <td class="text-nowrap">{{profile.username}}</td>
        </tr>
        <tr>
          <th>Email</th>
          <td class="text-nowrap">{{profile.email}}</td>
        </tr>
        <tr>
          <th>Realm roles</th>
          <td>
            {{#each this.realmRoles.roles as |role|}}
              <p class="small p-0 m-0">{{role}}</p>
            {{/each}}
          </td>
        </tr>
        {{#each-in this.resourceRoles as |resource roles|}}
          <tr>
            <th>Roles for resource '{{resource}}'</th>
            <td>
              {{#each roles.roles as |role|}}
                <p class="small p-0 m-0">{{role}}</p>
              {{/each}}
            </td>
          </tr>
        {{/each-in}}
      </tbody>
    </table>

  {{/with}}

{{else}}
  No session
{{/if}}
