{{#if this.keycloakSession.ready}}

  <div class="m-2">
    <button
      {{on "click" (fn this.refresh)}}
            type="button"
            class="btn btn-info"
    >
      Refresh
    </button>
    <button
      {{on "click" (fn this.login)}}
            type="button"
            class="btn btn-info"
    >
      Login
    </button>
    <button
      {{on "click" (fn this.logout)}}
            type="button"
            class="btn btn-info"
    >
      Logout
    </button>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th>Ready</th>
        <td class="text-nowrap">
          {{this.keycloakSession.ready}}
        </td>
      </tr>
      <tr>
        <th>Authenticated</th>
        <td class="text-nowrap">
          {{this.keycloakSession.authenticated}}
        </td>
      </tr>
      <tr>
        <th>Subject</th>
        <td class="text-nowrap">
          {{this.keycloakSession.subject}}
        </td>
      </tr>
      <tr>
        <th>Refresh token</th>
        <td class="text-break">
          {{this.keycloakSession.refreshToken}}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <tbody>
      <tr>
        <th>Action</th>
        <th class="text-left">Route</th>
        <th class="text-left">Redirect</th>
        <th></th>
      </tr>
      <tr>
        <td>Login</td>
        <td class="text-nowrap">
          {{this.keycloakSession.defaultLoginRoute}}
        </td>
        <td class="text-nowrap">
          {{this.keycloakSession.defaultLoginRedirectUri}}
        </td>
        <td>
          <LinkTo @route={{this.keycloakSession.defaultLoginRoute}}>
            "View"
          </LinkTo>
        </td>
      </tr>
      <tr>
        <td>Logout</td>
        <td class="text-nowrap">
          {{this.keycloakSession.defaultLogoutRoute}}
        </td>
        <td class="text-nowrap">
          {{this.keycloakSession.defaultLogoutRedirectUri}}
        </td>
        <td>
          <LinkTo @route={{this.keycloakSession.defaultLogoutRoute}}>
            "View"
          </LinkTo>
        </td>
      </tr>
    </tbody>
  </table>

{{else}}
  No session
{{/if}}
