{{#if this.keycloakSession.ready}}

  <div class="m-2">
    <button type="button" {{action "refresh"}} class="btn btn-info">Refresh</button>
    <button type="button" {{action "login"}} class="btn btn-info">Login</button>
    <button type="button" {{action "logout"}} class="btn btn-info">Logout</button>
  </div>

  <table class="table">
    <tbody>
      <tr>
        <th>Ready</th>
        <td class="text-nowrap">
          {{this.keycloakSession.ready}}
        </td>
      </tr>
      <tr>
        <th>Authenticated</th>
        <td class="text-nowrap">
          {{this.keycloakSession.authenticated}}
        </td>
      </tr>
      <tr>
        <th>Name</th>
        <td class="text-nowrap">
          {{this.keycloakSession.name}}
        </td>
      </tr>
      <tr>
        <th>Subject</th>
        <td class="text-nowrap">
          {{this.keycloakSession.subject}}
        </td>
      </tr>
      <tr>
        <th>Refresh token</th>
        <td>
          {{this.keycloakSession.refreshToken}}
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table">
    <tbody>
      <tr>
        <th>Action</th>
        <th class="text-left">Route</th>
        <th class="text-left">Redirect</th>
        <th></th>
      </tr>
      <tr>
        <td>Login</td>
        <td class="text-nowrap">
          {{this.keycloakSession.defaultLoginRoute}}
        </td>
        <td class="text-nowrap">
          {{this.keycloakSession.defaultLoginRedirectUri}}
        </td>
        <td>
          <LinkTo @route={{this.keycloakSession.defaultLoginRoute}}>
            "View"
          </LinkTo>
        </td>
      </tr>
      <tr>
        <td>Logout</td>
        <td class="text-nowrap">
          {{this.keycloakSession.defaultLogoutRoute}}
        </td>
        <td class="text-nowrap">
          {{this.keycloakSession.defaultLogoutRedirectUri}}
        </td>
        <td>
          <LinkTo @route={{this.keycloakSession.defaultLogoutRoute}}>
            "View"
          </LinkTo>
        </td>
      </tr>
    </tbody>
  </table>

{{else}}
  No session
{{/if}}
