<table class="table table-sm small">
  <tbody>
    <tr>
      <th>minValidity</th>
      <th>{{keycloakSession.minValidity}}</th>
    </tr>
    <tr>
      <th>onLoad</th>
      <th>{{keycloakSession.onLoad}}</th>
    </tr>
    <tr>
      <th>responseMode</th>
      <th>{{keycloakSession.responseMode}}</th>
    </tr>
    <tr>
      <th>flow</th>
      <th>{{keycloakSession.flow}}</th>
    </tr>
    <tr>
      <th>checkLoginIframe</th>
      <th>{{keycloakSession.checkLoginIframe}}</th>
    </tr>
    <tr>
      <th>checkLoginIframeInterval</th>
      <th>{{keycloakSession.checkLoginIframeInterval}}</th>
    </tr>
    <tr>
      <th>idpHint</th>
      <th>{{keycloakSession.idpHint}}</th>
    </tr>
  </tbody>
</table>
