<table class="table table-sm small">
  <tbody>
    <tr>
      <th>minValidity</th>
      <td>{{keycloakSession.minValidity}}</td>
    </tr>
    <tr>
      <th>onLoad</th>
      <td>{{keycloakSession.onLoad}}</td>
    </tr>
    <tr>
      <th>responseMode</th>
      <td>{{keycloakSession.responseMode}}</td>
    </tr>
    <tr>
      <th>flow</th>
      <td>{{keycloakSession.flow}}</td>
    </tr>
    <tr>
      <th>checkLoginIframe</th>
      <td>{{keycloakSession.checkLoginIframe}}</td>
    </tr>
    <tr>
      <th>checkLoginIframeInterval</th>
      <td>{{keycloakSession.checkLoginIframeInterval}}</td>
    </tr>
    <tr>
      <th>idpHint</th>
      <td>{{keycloakSession.idpHint}}</td>
    </tr>
  </tbody>
</table>
