<div class="container p-3">

  <div class="row">
    <div class="col-5">
      <div class="card bg-light">
        <div class="card-body">
          <div class="form">
            <div class="form-group">
              <label>Keycloak server URL</label>
              {{input
                value=url
                class="form-control"
                placeholder="https://www.my-keycloak-server.com/auth"
              }}
            </div>
          </div>
          <div class="form-group">
            <label>Realm</label>
            {{input value=realm class="form-control" placeholder="my-realm"}}
          </div>
          <div class="form-group">
            <label>Client Id</label>
            {{input value=clientId class="form-control" placeholder="my-client-id"}}
          </div>
        </div>
        <div class="card-footer">
          <button {{action "initKeycloak"}} class="btn btn-block btn-primary">Store keycloak parameters</button>
        </div>
      </div>

      <h5 class="pt-5">Configuration</h5>
      {{keycloak-session-config}}

      <h5 class="pt-5">Cookies</h5>
      <table class="table table-sm small">
        <thead>
          <tr>
            <th>Name</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          {{#each allCookies as |cookie|}}
            <tr>
              <th>{{cookie.name}}</th>
              <td>{{cookie.value}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
    <div class="col-7">

      <h3 class="text-primary">
        Demo routes
      </h3>

      <ul>
        <li>
          {{#link-to "demo.status"}}
            Status
          {{/link-to}}
        </li>
        <li>
          {{#link-to "demo.protected-mixin"}}
            Route protected by mixin
          {{/link-to}}
        </li>
        <li>
          {{#link-to "demo.protected-metadata"}}
            Route protected by metadata
          {{/link-to}}
        </li>
        <li>
          {{#link-to "demo.protected-metadata" (query-params param="test")}}
            Route protected by metadata + query param
          {{/link-to}}
        </li>
        <li>
          {{#link-to "demo.model-a" 1}}
            Protected route to model A
          {{/link-to}}
        </li>
        <li>
          {{#link-to "demo.model-a.model-b" 1 2}}
            Protected route to model B
          {{/link-to}}
        </li>
        <li>
          {{#link-to "demo.unprotected"}}
            Unprotected route
          {{/link-to}}
        </li>
      </ul>

      {{outlet}}

    </div>
  </div>

</div>

