{{#if session.ready}}
    <p>Ready : {{session.ready}}</p>
    <p>Authenticated : {{session.authenticated}}</p>
    <p>Name : {{session.name}}</p>
    <p>Subject : {{session.subject}}</p>
    <p>Token: {{session.token}}</p>
    <p>Refresh token : {{session.refreshToken}}</p>

    <table class="table">
        <tr>
            <th style="text-align: left;">Action</th>
            <th style="text-align: left;">Route</th>
            <th style="text-align: left;">Redirect</th>
            <th></th>
        </tr>
        <tr>
            <td>Login</td>
            <td>{{session.loginRoute}}</td>
            <td>{{session.loginRedirect}}</td>
            <td>{{link-to 'View' session.loginRoute}}</td>
        </tr>
        <tr>
            <td>Logout</td>
            <td>{{session.logoutRoute}}</td>
            <td>{{session.logoutRedirect}}</td>
            <td>{{link-to 'View' session.logoutRoute}}</td>
        </tr>
    </table>

    <button type="button" {{action 'refresh'}} class="btn btn-info">Refresh</button>
    <button type="button" {{action 'login'}} class="btn btn-info">Login</button>
    <button type="button" {{action 'logout'}} class="btn btn-info">Logout</button>

{{else}}
    No session
{{/if}}
